<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SqlDeploy" type="SSW.SQLDeploy.Core.SqlDeployConfiguration, SSW.SQLDeploy.Core" />
	</configSections>

	<SqlDeploy updateOnStart="false" disableIpFilter="true">

		<emailnotification
		  smtpServer="127.0.0.1"
		  fromAddress="developers@ssw.com.au"
		  toAddress="developers@ssw.com.au"
    />

		<databases>
			<!-- Add databases as per the below example.
           The connectionStringName field references the connectionStrings section of your web.config
           The scriptLocation field references the location of your SQL Scripts
           The allowBulkUpdate attribute can be used to exclude a database from bulk updates (default=true)
      -->
			<add name="My"
			  connectionStringName="MyDatabaseConnectionString"
			  scriptLocation="~/SQLDeployScripts" />
			<add name="Default"
			  connectionStringName="DefaultConnection"
			  scriptLocation="~/SQLDeployScripts" />
		</databases>

		<!-- By default only local IP Addresses (127.0.0.1 and ::1) are able to access SQL Deploy
         You can override this setting by specifying all valid IP addresses as below (not recommended):
    
    <ipAddresses>
      <add ipAddress="192.168.1.1" />
      <add ipAddress="192.168.1.5" />
    </ipAddresses>
    -->
	</SqlDeploy>

</configuration>